.popper-root{
  position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(71.5px, -12px, 0px);
}

.stroke-grey {
  stroke: #808080;
}

#notification-box {
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate3d(-58px, 58px, 0px);
}

@media (max-width: 768px) {
  #notification-box {
    transform: translate3d(-30px, 58px, 0px);
  }
}
@media (max-width: 620px) {
  #notification-box {
    transform: translate3d(0px, 58px, 0);
  }
}

